.separator {
    border-top: 3px solid #f7f6f6;
    width: 70%;
    text-align: center;
    margin: 30px auto;
    
}

.statusIcon {
    width: 140px;
    height: 85px;
    margin-top: 18px;
    margin-left: 15px;
}

.statusTextIcon {
    width: 140px;
    height: 90px;
    margin-top: 18px;
    margin-left: 40px;
}

.top-card-name{
    text-align: center;
    font-size: 23px;                     
}

.card-data-container{
    text-align: center;
    font-size: 23px; 
    word-wrap: break-word; 
}

.card {
    color: black;
    font-size: x-large; 
    font-family: 'Mitr', sans-serif;
    box-sizing: border-box;
    width: 90%;
    height: 90%; 
    background-color: rgb(249, 254, 255);
    position: relative; 
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;  
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
  .loading-icon {
    width: 50px; 
    height: 50px;
  }


@media screen and (max-width:900px) {
    .statusIcon, .statusTextIcon {
        width: 120px; 
        height: 80px; 
    }

    .separator {
        border-top: 1px solid #c5e8f1; /* Adjust separator border thickness */
        width: 70%; /* Adjust separator width for smaller screens */
        margin: 20px auto; /* Adjust separator margin for spacing */
    }

    .card-data-container {
        font-size: 1.5em;
        margin-top: 20px; 
    }
}
