nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #22438C;
}

nav .title {
    font-size: 20px;
    margin: 1rem;
    text-decoration: none;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul li a{
    display: block;
    padding: 20px 25px;
    color: #FFF;
    text-decoration: none;
    text-align: center;
}
nav ul li ul.dropdown li{
    display: block; 
}
nav ul li ul.dropdown {
    width: 100%;
    background: #305ec3;
    position: absolute;
    z-index: 999;
    display: none;
}
nav ul li a:hover {
    background: #112C66;
}
nav ul li:hover ul.dropdown {
    display: block;
}

.title {
display: flex;
align-items: center;
margin-left: 10px; 
}

.title img {
width: 65px;
height: 30px;
margin-right: 10px; 
}
  
