 .form-select {
    width: 23em;
    height: 2.3em;
    position: relative;
    display: flex;
    overflow:hidden;
    cursor: pointer;
    color: #444;
    outline: none;
    border: .06em solid transparent;
    border-radius: 1em;
    background-color: #EAF5FF;
    transition: all 0.3s ease-in-out;
    font-size: 1.3em;
    text-align: center;
} 

.form-select:focus {
    background-color: #D3E9FD; 
}

.data-container{
    width: 100%;
    height: 100%;
    display: grid;
    grid-gap: 0.9rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.9fr 0.4fr;
    grid-template-areas:
        "option datacard"
        "map datacard"
        "downloadButton datacard";                
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg{
    color: black;
    font-size: x-large; 
    font-family: 'Mitr', sans-serif;
    box-sizing: border-box;
    background-color: rgb(65, 180, 203);
    width: 100%;
    height: 100%; 
    position: relative; 
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 3px;
    overflow: hidden; 
}

.map{
    grid-area: map;
}

.datacard{
    grid-area: datacard;
} 

.downloadButton{
    grid-area: downloadButton;
}

.option{
    grid-area: option;
}

@media only screen and (max-width:900px){
    .data-container{
    grid-template-columns:1fr;
    grid-template-rows: 0.1fr 1.2fr 0.5fr 0.2fr;
    grid-template-areas:
    "option"
    "datacard"
    "map"
    "downloadButton";
    }
    .form-select{
        font-size: 0.5em;
        width: 15em;
        height: 1.8em;
        margin-top: 10px; 
    }
    .map{
        height: 20em;
        margin-top: 20px; 
    }
    .datacard{
        margin-top: 20px; 
    }
    .downloadButton{
        margin-top: 10px; 
        margin-bottom: 20px;
    }
}
